//colors
$white: #fff;
$gray: #EEF0F8;
$secondary-font: #A4A4B5;
$primary-font: #3F4254;
$table: #F4F5F8;
$table-hover: #EFF0F4;
$primary: #2E8FF0;
$warning: #EF7DA0;
$green: #66BB6A;
$input-background: #F4F5F8;

//box-shadows
$soft-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
$input-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);

//radius
$border-radius: 8px;
